/**
 * Profile section
 */
.profile {
  text-align: center;
  margin-bottom: $spacing-unit * 2;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit;
  }
}

.profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    width: 140px;
    height: 140px;
    margin-bottom: $spacing-unit * 0.6;
  }
}

.profile-name {
  @include relative-font-size(2);
  margin-bottom: $spacing-unit / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  @include media-query($on-palm) {
    @include relative-font-size(1.6);
    margin-bottom: $spacing-unit / 3;
    gap: 8px;
  }
}

.social-icons {
  display: inline-flex;
  gap: 10px;

  a {
    display: inline-flex;
    align-items: center;
    color: $grey-color;
    transition: color 0.2s ease;

    &:hover {
      color: $brand-color;
    }

    svg {
      fill: currentColor;
    }
  }
}

.profile-bio {
  @include relative-font-size(1.05);
  color: $grey-color-dark;
  max-width: 700px;
  margin: 0 auto $spacing-unit / 2;
  line-height: 1.7;
  text-align: left;

  @include media-query($on-palm) {
    @include relative-font-size(0.95);
    margin-bottom: $spacing-unit / 3;
    line-height: 1.6;
  }
}

/**
 * Timeline
 */
.timeline {
  max-width: 700px;
  margin: $spacing-unit * 2 auto 0;

  @include media-query($on-palm) {
    margin-top: $spacing-unit * 0.5;
  }
}

.timeline-entry {
  display: flex;
  align-items: baseline;
  margin-bottom: $spacing-unit * 0.8;
  padding-bottom: $spacing-unit * 0.8;
  border-bottom: 1px solid $grey-color-light;

  &:last-child {
    border-bottom: none;
  }

  @include media-query($on-palm) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $spacing-unit * 0.3;
    padding-bottom: $spacing-unit * 0.3;
  }
}

.timeline-date {
  flex: 0 0 170px;
  font-weight: 600;
  color: $grey-color;
  @include relative-font-size(0.9);
  padding-right: $spacing-unit;

  @include media-query($on-palm) {
    flex: none;
    margin-bottom: 0;
    padding-right: 0;
    @include relative-font-size(0.8);
  }
}

.timeline-content {
  flex: 1;
  line-height: 1.6;
  @include relative-font-size(0.95);

  @include media-query($on-palm) {
    @include relative-font-size(0.88);
    line-height: 1.45;

    p, ul, ol {
      margin-bottom: 0;
    }
  }

  strong {
    color: $text-color;
  }

  a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * Publications
 */
.publications {
  max-width: 700px;
  margin: $spacing-unit * 2 auto 0;

  @include media-query($on-palm) {
    margin-top: $spacing-unit;
  }

  h2 {
    @include relative-font-size(1.5);
    margin-bottom: $spacing-unit;
    border-bottom: 2px solid $grey-color-light;
    padding-bottom: $spacing-unit / 2;

    @include media-query($on-palm) {
      @include relative-font-size(1.3);
      margin-bottom: $spacing-unit * 0.6;
      padding-bottom: $spacing-unit / 3;
    }
  }

  h3 {
    @include relative-font-size(1.1);
    color: $grey-color;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit / 2;

    @include media-query($on-palm) {
      @include relative-font-size(1);
      margin-top: $spacing-unit * 0.6;
      margin-bottom: $spacing-unit / 3;
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
  }

  li {
    @include relative-font-size(0.9);
    line-height: 1.6;
    margin-bottom: $spacing-unit * 0.6;

    @include media-query($on-palm) {
      @include relative-font-size(0.85);
      margin-bottom: $spacing-unit * 0.4;
    }
  }

  em {
    color: $text-color;
  }
}

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid $grey-color-light;
  min-height: 50px;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  text-align: center;

  @include media-query($on-palm) {
    padding: $spacing-unit * 0.6 0;
  }
}

.footer-text {
  color: $grey-color;
  @include relative-font-size(0.9);
  margin: 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;

  @include media-query($on-palm) {
    padding: $spacing-unit * 0.6 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
      margin-bottom: $spacing-unit * 0.6;
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit * 0.6;
  }
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit * 0.6;
  }

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
