---
layout: default
---

<div class="home">
  <div class="profile">
    <img src="{{ '/assets/images/gk_photo.jpeg' | relative_url }}" alt="Giridhar Kaushik" class="profile-photo">
    <h1 class="profile-name">Giridhar Kaushik Ramachandran</h1>
    <p class="profile-bio">
      Giridhar received his Ph.D. in Information Science and Technology from George Mason University (GMU), with a focus on natural language processing (NLP) and machine learning (ML) for clinical text. They are also an affiliate with the University of Washington, collaborating on various NLP and ML projects for healthcare applications.
    </p>
    <p class="profile-bio">
      With over nine years of diverse industry and academic experience, Giridhar has worked as a data scientist in the fields of finance, workforce management, cybersecurity, and social media. They have also published multiple papers in prestigious conferences and journals, such as ICML, ACL, LREC, and IEEE Computer Society, demonstrating their research excellence and innovation. Giridhar's research aims to leverage artificial intelligence to advance state-of-the-art healthcare informatics and improve patient outcomes.
    </p>
  </div>

  {{ content }}
</div>
